<div class="jumbotron">
    <h1>PMT RESTful services are up and running ...!!!</h1>
   
</div>
<div class="row">
    <div class="col-md-4">

        routeTemplate: "api/{controller}/{origin}/{dest}/{departureTime}
        http://hostedapiaddress:portnumber/api/search/source/destination/MM-DD-YYYY

    </div>
    <div class="col-md-4">
      
        <a href="http://localhost:62921/api/search/pune/bengaluru/12-02-2018"> Test Service  </a>  
    </div>
    <div class="col-md-4">
        
    </div>
</div>
